.container {
    position: relative;

    img {
        box-sizing: border-box;
        max-width: 321px;
        height: calc((100vh - 852px) / 3.5 + 435px);
        background: #FFFFFF;
        border: 5px solid #FFFFFF;
        box-shadow: -10px 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.counter {
    position: absolute;
    width: 54px;
    height: 54px;
    left: calc(50% - 54px/2 + 113.5px);
    top: 18px;
}
.text{
    box-sizing: border-box;
    width: 54px;
    height: 54px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 13.5px;
    font-weight: 400;
    font-size: 37.3125px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

